code {
    font-family: menlo, inconsolata, monospace;
    font-size: calc(1em - 2px);
    color: #555;
    background-color: #f0f0f0;
    padding: 0.2em 0.4em;
    border-radius: 2px;
}
.img-p {
    max-width:100px;
}
a {
  color: inherit;
}

.img-grey {
  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: grayscale(100%) brightness(1) invert(0.5); /* Current draft standard */
  -webkit-filter: grayscale(100%) brightness(1) invert(0.5); /* New WebKit */
  -moz-filter: grayscale(100%) brightness(1) invert(0.5);
  -ms-filter: grayscale(100%) brightness(1) invert(0.5);
  -o-filter: grayscale(100%) brightness(1) invert(0.5);
  filter: gray; /* IE6+ */
}

.bg-light {
  background-color: #F3F3F3 !important;
}
.bg-primary {
  background-color: #CE4B4C !important;
}
.text-primary {
  color: #CE4B4C !important;
}
.badge-primary {
  background-color: #CE4B4C !important;
}
.a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
  background-color: #AE3839 !important;
}
@media(prefers-color-scheme: dark) {
  body {
    background-color: #181A1B;
    color: #fafafa;
  }
  .navbar-light .navbar-brand {
    color: #F2F2F2;
  }
  .bg-light {
    background-color: #232526 !important;
  }
  .card {
    background-color: #0f1012;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #F2F2F2;
  }
  .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #fafafa;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #343a40;
  }
  .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #fafafa;
  }
  .btn-outline-dark {
    color: #fafafa;
    border-color: #fafafa;
  }
  .btn-outline-dark:hover {
    color: #343a40;
    background-color: #fafafa;
    border-color: #fafafa;
  }
  .img-grey {
    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grayscale(100%) brightness(0) invert(1) !important; /* Current draft standard */
    -webkit-filter: grayscale(100%) brightness(0) invert(1) !important; /* New WebKit */
    -moz-filter: grayscale(100%) brightness(0) invert(1) !important;
    -ms-filter: grayscale(100%) brightness(0) invert(1) !important;
    -o-filter: grayscale(100%) brightness(0) invert(1) !important;
    filter: gray; /* IE6+ */
  }

}
